<div class="row" ng-controller="classificationSearchCtrl">
	<!-- Header Name-->
	<div ng-show="! changeView.classificationShow">
		<div class="row col-sm-12">
			<div class="col-sm-7">
				<h1>Classification</h1>
				<h3>Search Classification</h3>
			</div>
		</div>
		<div class="row col-sm-12">
			<div class="col-sm-1 col-sm-offset-11">
				<button class="btn btn-primary pull-right" ng-click="new_page()">Add New</button>
			</div>
		</div>
		<!-- New Field -->
		<div class="row col-sm-12 form-group">
			<div class="col-sm-2">
				<label class="control-label">Classification ID</label>
			</div>
			<div class="col-sm-3">
				<input type="text" class="form-control" name="classificationId" ng-model="searchQuery.classificationId">
			</div>
			<div class="col-sm-2">
				<label class="control-label">Short Description</label>
			</div>
			<div class="col-sm-3">
				<input type="text" class="form-control" name="descShort" ng-model="searchQuery.descShort">
			</div>
		</div>

		

		<!-- New Field -->
		<div class="row col-sm-12 form-group">
			<div class="col-sm-2">
				<label class="control-label">Long Description</label>
			</div>
			<div class="col-sm-3">
				<input type="text" class="form-control" name="descLong" ng-model="searchQuery.descLong">
			</div>
			<div class="col-sm-2">
				<label class="control-label">Version No</label>
			</div>
			<div class="col-sm-3">
				<input type="text" class="form-control" name="versionNo" ng-model="searchQuery.versionNo">
			</div>
		</div>

		<!-- New Field -->
		<div class="row col-sm-12">
			<div class="col-sm-2">
				<label class="control-label">Type</label>
			</div>
			<div class="col-sm-3 select-group">
				<div 
				    multi-select 
				    input-model="typeList"
				    output-model="searchQuery.type"
				    button-label="code"         
				    item-label="code" 
				    tick-property="ticked" 
				    selection-mode="single"
				    helper-elements="filter reset"
				    max-height="200px"
				>
				</div>
			</div>
			<div class="col-sm-2">
				<label class="control-label">Tenant Name</label>
			</div>
			<div class="col-sm-3">
				<div class="row col-md-11 col-sm-11">
					<input class="form-control" 
					name="section_id" maxlength="100"
					ng-model="searchQuery.tenantRef" 
					typeahead="result as result.name+ result.comma + (result.desc | limitTo:10) for result in searchTenantList($viewValue)" typeahead-wait-ms="1000"/>
				</div>
				<div class="col-sm-1">
					<button class="btn btn-primary btn-xs" 
			  			ng-click="searchTenant()">
			  			<span class="glyphicon glyphicon-search"></span>
			  	</button>
			  	<div ng-include="'app/tenant/tenantSearch.html'"></div>
				</div>
			</div>
		</div>

		<!-- Submit and reset button-->
		<div class="row col-sm-12 form-group">
			<br><br>
			<div class="col-sm-2 col-sm-offset-10">
				<button class="btn btn-primary" ng-click="search();filtered();">Search</button>
				<button class="btn btn-primary pull-right" ng-click="reset_search()">Reset</button>
			</div>
		</div>

		<div class="row col-sm-12" ng-show="searchResult.length==0">
				<h3>Found {{searchResult.length}} entry</h3>
		</div>

		<div class="row container col-md-12" ng-show="filteredItems.length > 0">
			<b>Found {{filteredItems.length}} entries</b>
			<table class="table table-stripped custom-row">
				<thead>
					<tr>
						<th style="width: 15%;">#</th>
						<th style="width: 25%;">Classification Id</th>
						<th style="width: 40%;">Short Description</th>
						<th style="width: 20%;">Version No</th>
						<th style="width: 10%;"></th>
					</tr>
				</thead>
				<tbody>
					<tr class="hoverptr" 
					ng-repeat="classification in pagedItems[currentPage]">
						<td>{{$index+1}}</td>
						<td class="custom-row" 
							ng-click="edit_classification(classification._id)">
							{{classification.classificationId}}
						</td>
						<td class="custom-row" 
							ng-click="edit_classification(classification._id)">
							{{classification.descriptions.descShort[0].description | limitTo:70}} <span ng-show="classification.descriptions.descShort[0].description.length > 60"> ..</span>
						</td>
						<td class="custom-row" 
							ng-click="edit_classification(classification._id)">
							{{classification.versionNo}}
						</td>
						<td>
						<button type="button" ng-click="delete_one(classification._id,$index)" class="btn btn-primary">Delete</button>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<td colspan="6">
						<div class="pagination pull-right">
							<ul>
								<li ng-class="{disabled: currentPage == 0}">
									<a href ng-click="prevPage()">« Prev</a>
								</li>
								<li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}"ng-click="setPage()">
								<a href ng-show="n >= min && n < max" ng-bind="n + 1">1</a>
								</li>
								<li ng-class="{disabled: currentPage == pagedItems.length - 1}">
									<a href ng-click="nextPage()">Next »</a>
								</li>
							</ul>
						</div>
					</td>
				</tfoot>
			</table>
		</div>
	</div>

	<div ng-if="changeView.classificationShow" ng-include="'app/classification/classification.html'" ></div>
</div>
<script type="text/ng-template" id="myModalContent.html">
	<div class="modal-body">
		<p>Are you sure you want to delete ?</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="ok()">OK</button>
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	</div>
</script>
<script type="text/ng-template" id="alert.html">
	<div class="modal-body">
		<p>Please fill some entry for search ?</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">Ok</button>
	</div>
</script>  