

body{
	background-color: #1F1F1F;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
}

.navbar-default {
background-color: #f8f8f8;
border-color: #e7e7e7;
}

.navbar {
border-radius: 0px;
}

.jumbotron-color {
	background:url(C:/Users/sushantx/Desktop/bootstrap-3.1.1-dist/images/jumbo.jpg);
}
h1{
	color: 
}
section{
	color: rgb(0,0,0);
}

.text-centred{
	text-align: center;
}

.no-margin{
	margin: 0;
}

@media (max-width: 767px)
{
	.jumbotron h1{
		font-size: 31px;
	}

	.jumbotron p{
		font-size: 16px;
	}
}

img{
	-webkit-filter: opacity(30%);
}

.showcase-item{
	height: 220px;
	padding:2px;
}

.showcase-items .showcase-item-box{

}