<div class="row" ng-controller="variantCtrl">
	<div class="row col-sm-12">
		<div class="col-sm-7">
			<h1>Product Editor</h1>
			<h3 class="m-b-50">Product Variant</h3>
		</div>
	</div>



	<div class="row col-sm-12">
		<!-- <b>Found {{filteredItems.length}} entries</b> -->
		<table class="table table-stripped custom-table">
			<tbody>
				<tr>
					<th>
 						<a  ng-click="sortType = 'productId'; sortReverse = !sortReverse">Name
							<span ng-show="sortType == 'productId' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortType == 'productId' && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</th>
	
					<th>
						<a  ng-click="sortType = 'supplierId'; sortReverse = !sortReverse">Description
							<span ng-show="sortType == 'supplierId' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortType == 'supplierId' && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</th>
						
				</tr>

				<tr ng-click="showvariants(tdata._id)" class="hoverptr" ng-repeat="tdata in tabledata | orderBy:sortType:sortReverse  | filter:strict" >
					<td >{{tdata.productId}}</td>
					<td >{{tdata.supplierId}}</td>
				</tr>
			</tbody>
			<tfoot>
				<td colspan="2">
					<pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()" class="pull-right"></pagination>
				</td>
			</tfoot>
		</table>
	</div>

	<div class="row ">
		<div class="col-sm-4 " >
			<button class="btn btn-primary" ng-click="assignGrp()">Assign New Group</button>
			<button class="btn btn-primary" ng-click="deleteRow()">Delete Selected</button>
		</div>
	</div>

	<!-- On clicking assign new group button -->

				<div class="row m-t-25" ng-show="showvar">
					<form name="assignGrpForm" novalidate>
						<div class="col-sm-6" >
							<div class="form-group">
					          	<label class="col-sm-5 control-label" >Classification </label>
					          	<div class="col-sm-7">
					          		<input type="text" name="classificationid" class="form-control" ng-model="createNew.classificationId" required>
					          		<span style="color:red" ng-show="assignGrpForm.classificationid.$dirty && assignGrpForm.classificationid.$invalid"></span>
					          		<span ng-show="assignGrpForm.classificationid.$error.required">Required field.</span>

					          	</div>

					        </div>

							<div class="form-group">
					          	<label class="col-sm-5 control-label">Classification Group</label>
					          	<div class="col-sm-7">
					            	<input type="number" name="cgId" class="form-control" ng-model="createNew.classificationGroupId" required>
					            	<span style="color:red" ng-show="assignGrpForm.cgId.$dirty && assignGrpForm.cgId.$invalid"></span>
					          		<span ng-show="assignGrpForm.cgId.$error.required">Required field.</span>
					          	</div>
					        </div>

					        <div class="form-group">
					          	<div class="col-sm-offset-5  col-sm-1">
									<button class="btn btn-primary" type="submit" ng-disabled="assignGrpForm.classificationid.$dirty && assignGrpForm.classificationid.$invalid ||  
									
									assignGrpForm.cgId.$dirty && assignGrpForm.cgId.$invalid" ng-click="newClsfnidGrp(createNew)">Assign</button>
								</div>
					        </div>

						</div>
					</form>
				</div>

				<!-- On clicking row -->


			<div class="row m-t-25" ng-show="editvar">

					<div class="col-sm-6" >

						<div class="form-group">
				          	<label class="col-sm-4 control-label">Classification </label>
				          	<div class="col-sm-8">
				            	<input type="text" class="form-control" ng-model="editrow.classificationId" ng-disabled="true">
				          	</div>
				        </div>

				        <div class="form-group">
				          <label class="col-sm-4 control-label">Classification Group</label>
				          <div class="col-sm-8">
				            <div class="row">
				              <div class="col-md-6">
				                <input type="text" class="form-control" ng-disabled="true" ng-model="editrow.classificationGroupId">
				              </div>
				              <div class="col-md-6">
				                <input type="text" class="form-control" ng-disabled="true">
				              </div>
				            </div>
				          </div>
				        </div>

				        <div class="form-group">
				          	<label class="col-sm-4 control-label">Order No.</label>
				          	<div class="col-sm-8">
				            	<input type="text" class="form-control" ng-model="editrow.orderNo">
				          	</div>
				        </div>


				        <div class="form-group">
				          	<div class="col-sm-offset-4  col-sm-1">
								<button class="btn btn-primary" ng-click="updateitem(editproduct)">Save</button>
							</div>
				        </div>


					</div>
		        
				</div>


		<div class="row">
			<div ng-include="'app/partials/_auditInfo.html'"></div>
		</div>


</div>




	






	













