<div class="row col-md-12 col-sm-12">
	<div class="col-md-10 col-sm-12" >
		<hr>
	</div>
</div>
<div class="col-sm-4">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title"><b>Audit Info</b></h3>
	  </div>
	  <div class="panel-body">
		  <div class="row panel-row-space">
		    <div class="col-sm-3">
					<div>Created </div>
				</div>
				<div class="col-sm-9">
					<div>{{valueDetails.createdBy}}/{{valueDetails.createdOn  |  date:'dd.MM.yy h:mma'}}</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div>Updated</div>
				</div>
				<div class="col-sm-9">
					<div>{{valueDetails.updatedBy}}/{{valueDetails.updatedOn  |  date:'dd.MM.yy h:mma'}}</div>
					</div>
				</div>
		  </div>
		</div>
	</div>
</div>

	