<div class="modal fade" id="classificationConfirmationDailogBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        You have unsaved changes on this page. Do you want to leave this page and discard your changes ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="isRedirectConformed()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>