<div class="modal fade" id="confirmationDailogBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        You have unsaved changes on this page. Do you want to leave this page and discard your changes ?
      </div>
      <div class="modal-footer">
        <button type="button" ng-show="!createSGPage && !redirectAttr" class="btn btn-default" ng-click="isConformed()">Yes</button>
        <button type="button" ng-show="createSGPage && !redirectAttr" class="btn btn-default" 
          ng-click="createChild(classificationGroup.classificationRef.classificationId, classificationGroup.classificationGroupId,classificationGroup.classificationRef._id, classificationGroup.parentClassificationGrpRef._id); reset_search();">Yes</button>
          <button type="button" ng-show="redirectAttr" class="btn btn-default" ng-click="closeModal();switchAttrPage()" >Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>