<div class="navbar navbar-default navbar-main-menu" ><!-- main nav -->
  <div data-growl=""></div>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="assets/img/jc-logo-rgb.svg" style="height: 1.5em; margin-top: -.25em; margin-bottom: -.25em;">
    </a>
  </div>
  <!-- <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">   
        <li ng-class="{'active': isActive('attributeSection') || isActive('/')}"><a href="#/">Attribute Section</a></li>
        <li ng-class="{'active': isActive('attribute')}"><a href="/#/attributes">Attribute</a></li>
        <li ng-class="{'active': isActive('classification')}"><a href="/#/classifications">Classification</a></li>
         <li ng-class="{'active': isActive('classificationGroup')}"><a href="/#/classificationGroups">ClassificationGroup</a></li>
    </ul>
  </div> --><!--/.nav-collapse -->
</div><!-- /main nav -->