<div class=" m-t-25 zindexgrid">
    <!-- <b>Found {{filteredItems.length}} entries</b> -->

    <div class="grid m-b-20 tzindex" ui-grid="gridOptions" ui-grid-move-columns ui-grid-edit  ui-grid-pinning ui-grid-grouping ui-grid-infinite-scroll ui-grid-selection  ui-grid-resize-columns></div>


</div>
<div class=" zindex col-sm-4">
    <button class="btn btn-primary" type="submit" ng-click="updategrid();">Save</button>
    <button class="btn btn-primary" ng-click="addNewAttribute()">New Attribute</button>
    <button class="btn btn-primary" ng-click="deleteAttribute()">Delete Selected</button>

</div>


<script type="text/ng-template" id="channelContent.html">
    <div ng-include="'app/EditProduct/channeldetailsmodal.html'"></div>
</script>

<script type="text/ng-template" id="myModalContent6.html">
    <div ng-include="'app/EditProduct/variantmodal.html'"></div>
</script>
<script type="text/ng-template" id="myModalContent2.html">
    <div ng-include="'app/EditProduct/attributemodal.html'"></div>
</script>