<div class=" m-t-25">

                    <table class="table table-stripped custom-table">
                        <tbody>
                            <tr>
                                <th class="check-box"><span id="selectall" ng-click="selectAllcBoxes()"><input type="checkbox" ></span> </th>
                                <th>
                                    <a ng-click="sortType = 'classificationId'; sortReverse = !sortReverse">Classification-ID
                                                    <span ng-show="sortType == 'classificationId' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'classificationId' && sortReverse" class="fa fa-caret-up"></span>
                                                </a>
                                </th>


                                <th>
                                    <a ng-click="sortType = 'classificationGroupId'; sortReverse = !sortReverse">Classification Group ID
                                                    <span ng-show="sortType =='classificationGroupId' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType =='classificationGroupId' && sortReverse" class="fa fa-caret-up"></span>
                                                </a>
                                </th>


                                <th>
                                    <a ng-click="sortType = 'variantId'; sortReverse = !sortReverse">Variant
                                                    <span ng-show="sortType =='variantId' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType =='variantId' && sortReverse" class="fa fa-caret-up"></span>
                                                </a>
                                </th>

                                <th>
                                    <a ng-click="sortType = 'orderNo'; sortReverse = !sortReverse">Order
                                                    <span ng-show="sortType =='orderNo' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType =='orderNo' && sortReverse" class="fa fa-caret-up"></span>
                                                </a>
                                </th>

                                <th>Action</th>
                            </tr>

                            <tr>
                                <td></td>
                                <td>
                                    
                                        <div class="input-group" style="width:70%;">
                                          <input type="text" class="form-control" ng-model="search.classificationId" style="height:22px;">
                                          <span class="input-group-btn">
                                            <button class="btn btn-default btn-xs" ng-click="search.classificationId=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                                          </span>
                                        </div><!-- /input-group -->
                                    
                                </td>
                                <td>
                                    
                                        <div class="input-group" style="width:70%;">
                                          <input type="text" class="form-control" ng-model="search.classificationGroupId" style="height:22px;">
                                          <span class="input-group-btn">
                                            <button class="btn btn-default btn-xs" ng-click="search.classificationGroupId=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                                          </span>
                                        </div><!-- /input-group -->
                                    
                                </td>

                                <td>
                                    
                                        <div class="input-group" style="width:70%;">
                                          <input type="text" class="form-control" ng-model="search.variantId" style="height:22px;">
                                          <span class="input-group-btn">
                                            <button class="btn btn-default btn-xs" ng-click="search.variantId=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                                          </span>
                                        </div><!-- /input-group -->
                                    
                                </td>

                                <td>
                                    
                                        <div class="input-group" style="width:50%;">
                                          <input type="text" class="form-control" ng-model="search.orderNo" style="height:22px;">
                                          <span class="input-group-btn">
                                            <button class="btn btn-default btn-xs" ng-click="search.orderNo=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                                          </span>
                                        </div><!-- /input-group -->
                                    
                                </td>
                                <td></td>
                            </tr>

                            <!-- <tr ng-repeat="tdata in editproduct.classificationGroupAssociations | orderBy:sortType:sortReverse  | filter:search:strict | filter:output[0]:strict"> -->
                            <tr ng-repeat="tdata in  filtered = (editproduct.classificationGroupAssociations | filter:search) | startFrom:(currentPage-1)*maxSize | limitTo:maxSize | orderBy:sortType:sortReverse   | filter:output[0]:strict">
                                <td class="check-box">
                                    <input type="checkbox" value="{{tdata._id}}" ng-checked="tdata.checked" ng-model="tdata.checked" ng-click="itemToRemove($index)"> 
                                </td>

                                <td ng-click="editGrp(tdata)" class="hoverptr">{{tdata.classificationId}}</td>

                                <td ng-click="editGrp(tdata)" class="hoverptr">{{tdata.classificationGroupId}}</td>

                                <td ng-click="editGrp(tdata)" class="hoverptr">{{tdata.variantId}}</td>

                                <!-- <td ng-click="editGrp(tdata)" class="hoverptr">{{tdata.variantId}}</td> -->
                                <td ng-click="editGrp(tdata)" class="hoverptr">{{tdata.orderNo}}</td>
                                <td>
                                    <button class="btn btn-primary btn-xs" ng-click="editGrp(tdata)">Edit</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <td colspan="6">
                                <pagination total-items="editproduct.classificationGroupAssociations.length" ng-model="currentPage" class="pull-right"></pagination>
                            </td>
                        </tfoot>
                    </table>

                </div>

                <div class="row ">
                    <div class="col-sm-4 ">
                        <button class="btn btn-primary" ng-click="assignGrp()">Assign New Group </button>
                        <button class="btn btn-primary" ng-click="deleteRow()">Delete Selected</button>
                    </div>
                </div>

                <!-- On clicking assign new group button -->

                <div class="row m-t-25" ng-show="showvar">
                    <form name="assignGrpForm" novalidate>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Variant ID</label>
                                <div class="col-sm-3">
                                    <!-- <input type="text" class="form-control" name="" ng-model="createNew.variantId" ng-readonly="true" /> -->
                                    <select class="form-control" name="" ng-model="createNew.variantId" ng-options="item.value as item.label for item in hasVariantClassificationGroupAssociations">
                                        <option value="" style="display:none"></option>
                                    </select>
                                </div>
                                <!-- <div class="col-sm-1">
                                    <span class="ng-scope"> 
                                        <script type="text/ng-template" id="myModalContent6.html">
                                            <div ng-include="'app/EditProduct/variantmodal.html'"></div>
                                        </script>
                                        <button class="btn btn-primary btn-xs" ng-click="openVariant('lg','hasVariantClassificationGroupAssociations','createNew')">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div> -->
                            </div>

                            <div class="form-group ">
                                <label class="col-sm-3 control-label">Classification* </label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="text" name="classificationid" class="form-control" ng-model="createNew.classificationId"  ng-readonly="true" required>
                                            <span class="error" ng-show="csubmitted && assignGrpForm.classificationid.$invalid">    Invalid:
                                                <span ng-show="assignGrpForm.classificationid.$error.required">Tell us your Classification</span>
                                            </span>
                                        </div>

                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="" ng-model="description.descShort[0].description" ng-readonly="true" />
                                        </div>

                                        <div class="col-sm-1">
                                            <span class=""> 
                                        
                                            <button class="btn btn-primary btn-xs" ng-click="createNew.classificationId=''; description.descShort[0].description=''; classificationGroupDescription.descShort[0].description='';createNew.classificationGroupId='';clearClassificationID()">
                                              <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                            </span>
                                        </div>

                                        <div class="col-sm-2">
                                            <span class="ng-scope"> 
                                                <script type="text/ng-template" id="myModalContent.html">
                                                  <div ng-include="'app/EditProduct/classificationmodal.html'">
                                                </script>
                                                <button class="btn btn-primary btn-xs" ng-click="openClassification('lg','createNew')">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                                </span>
                                        </div>
                                    </div>
                                        
                                </div>
                            </div>
                            
                            <div class="form-group" style="margin-bottom:16px;">
                                <label class="col-sm-3 control-label">Classification Group*</label>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <input type="text" name="cgId" class="form-control" ng-model="createNew.classificationGroupId"  ng-readonly="true" required>
                                            <span class="error" ng-show="csubmitted && assignGrpForm.cgId.$invalid">Invalid:
                                            <span ng-show="assignGrpForm.cgId.$error.required">Tell us your Classification Group</span>
                                            </span>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="" ng-model="classificationGroupDescription.descShort[0].description" ng-readonly="true" />
                                        </div>
                                        <div class="col-sm-1">
                                            <span class="ng-scope"> 
                                                       <!--  <script type="text/ng-template" id="myModalContent1.html">
                                                          <div ng-include="'app/EditProduct/classificationgroupmodal.html'"></div>
                                                        </script> -->
                                                        <button class="btn btn-primary btn-xs" ng-click="createNew.classificationId=''; description.descShort[0].description=''; classificationGroupDescription.descShort[0].description='';createNew.classificationGroupId='';clearClassificationID();">
                                                                  <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                            </span>
                                        </div>
                                        <div class="col-sm-1">
                                            <span class="ng-scope"> 
                                                        <script type="text/ng-template" id="myModalContent1.html">
                                                          <div ng-include="'app/EditProduct/classificationgroupmodal.html'"></div>
                                                        </script>
                                                        <button class="btn btn-primary btn-xs" ng-click="openClassificationGroup('lg','createNew')">
                                                                  <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                
                                    
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Order No.</label>
                                <div class="col-sm-4">
                                    <input type="number" name="order_no" class="form-control" ng-model="createNew.orderNo">
                                    <span class="error" ng-show="csubmitted && assignGrpForm.order_no.$invalid">Invalid:Only Number is allowed
                                     </span>
                                </div>
                            </div>
                            

                            <div class="col-sm-offset-3  col-sm-4">
                                <button class="btn btn-primary" type="submit" ng-click="newClsfnidGrp(assignGrpForm,createNew)">Assign</button>
                                <button class="btn btn-primary" ng-click="cancelGrp()">Cancel</button>
                            </div>

                        </div>
                    </form>
                </div>

                <!-- On clicking row -->

                <div class="row m-t-25" ng-show="editvar">
                    <form name="editGrpForm" novalidate>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Variant ID</label>
                                <!-- <div class="col-sm-3">
                                    <input type="text" class="form-control" name="" ng-model="editrow.variantId" ng-readonly="true" />
                                </div> -->
                                <div class="col-sm-3">
                                    
                                    <select class="form-control" name="" ng-model="editrow.variantId" ng-options="item.value as item.label for item in hasVariantClassificationGroupAssociations">
                                        <option value="" style="display:none"></option>
                                    </select>
                                </div>
                                <!-- <div class="col-sm-1">
                                    <span class="ng-scope"> 
                                                <script type="text/ng-template" id="myModalContent6.html">
                                                  <div ng-include="'app/EditProduct/variantmodal.html'"></div>
                                                </script>
                                                <button class="btn btn-primary btn-xs" ng-click="openVariant('lg','hasVariantClassificationGroupAssociations','editrow')">
                                                          <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                    </span>
                                </div> -->
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Classification* </label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="text" name="classificationid" class="form-control" ng-model="editrow.classificationId"  ng-readonly="true" required>
                                            <span class="error" ng-show="cesubmitted  && editGrpForm.classificationid.$invalid">    Invalid:
                                                <span ng-show="editGrpForm.classificationid.$error.required">Tell us your Classification</span>
                                                
                                            </span>
                                        </div>

                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="" ng-model="description.descShort[0].description" ng-readonly="true" />
                                        </div>

                                        <div class="col-sm-1">
                                            <span class=""> 
                                        
                                            <button class="btn btn-primary btn-xs" ng-click="editrow.classificationId=''; description.descShort[0].description=''; classificationGroupDescription.descShort[0].description='';editrow.classificationGroupId='';clearClassificationID()">
                                              <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                            </span>
                                        </div>

                                        <div class="col-sm-2">
                                            <span class="ng-scope"> 
                                                <script type="text/ng-template" id="myModalContent.html">
                                                  <div ng-include="'app/EditProduct/classificationmodal.html'">
                                                </script>
                                                <button class="btn btn-primary btn-xs" ng-click="openClassification('lg','editrow')">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                                </span>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Classification Group*</label>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <input type="text" name="cgId" class="form-control" ng-model="editrow.classificationGroupId" ng-readonly="true" required>
                                            <span class="error" ng-show="cesubmitted && assigrpForm.cgId.$invalid">Invalid:
                                            <span ng-show="assignGrpForm.cgId.$error.required">Tell us your Classification Group</span>
                                            
                                            </span>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="" ng-model="classificationGroupDescription.descShort[0].description" ng-readonly="true" />
                                        </div>
                                        <div class="col-sm-1">
                                            <span class="ng-scope"> 
                                                       <!--  <script type="text/ng-template" id="myModalContent1.html">
                                                          <div ng-include="'app/EditProduct/classificationgroupmodal.html'"></div>
                                                        </script> -->
                                                        <button class="btn btn-primary btn-xs" ng-click="editrow.classificationId=''; description.descShort[0].description=''; classificationGroupDescription.descShort[0].description='';editrow.classificationGroupId='';clearClassificationID();">
                                                                  <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                            </span>
                                        </div>
                                        <div class="col-sm-1">
                                            <span class="ng-scope"> 
                                                        <script type="text/ng-template" id="myModalContent1.html">
                                                          <div ng-include="'app/EditProduct/classificationgroupmodal.html'"></div>
                                                        </script>
                                                        <button class="btn btn-primary btn-xs" ng-click="openClassificationGroup('lg','editrow')">
                                                                  <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Order No.</label>
                                <div class="col-sm-4">
                                    <input type="number" name="order_no" class="form-control" ng-model="editrow.orderNo">
                                    <span class="error" ng-show="cesubmitted && editGrpForm.order_no.$invalid">Invalid:Only Number is allowed
                                                </span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div ng-include="'app/partials/_auditInfo.html'"></div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class=" col-sm-offset-2 col-sm-4">
                                    <button class="btn btn-primary" ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||  
                                        myForm.email.$dirty && myForm.email.$invalid" ng-click="updateGroup(editGrpForm)">Save</button>
                                    <button class="btn btn-primary" ng-click="canceleditGrp()">Cancel</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                </div>
