  <form name="masterdata" novalidate>
                    <div class="row m-t-25">
                        
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Product ID</label>
                                <div class="col-sm-4">
                                    <input type="text" name="pid" class="form-control" ng-model="editproduct.productId"  ng-minlength="0" ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9\s]+$/">
                                    <span class="error" ng-show="masterdata.pid.$invalid && msubmitted">Invalid:
                                        <span ng-show="masterdata.pid.$error.minlength">Product ID should be minimum of 0 characters</span>
                                        <span ng-show="masterdata.pid.$error.maxlength">Product ID should be maximum of 50 characters</span>
                                        <span ng-show="masterdata.pid.$error.pattern">Product ID won't allow special characters</span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">ext. Product ID</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="extpid" ng-model="editproduct.extProductId" ng-minlength="0" ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9\s]+$/">
                                    <span class="error" ng-show="masterdata.extpid.$invalid && msubmitted">Invalid:
                                    <span ng-show="masterdata.extpid.$error.minlength">ext. Product ID should be minimum of 0 characters</span>
                                    <span ng-show="masterdata.extpid.$error.maxlength">ext. Product ID should be maximum of 50 characters</span>
                                    <span ng-show="masterdata.extpid.$error.pattern">ext. Product ID won't allow special characters</span>
                                    </span>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label"> GTIN </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="gtin" ng-model="editproduct.ean" ng-minlength="0" ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9\s]+$/">
                                    <span class="error" ng-show="masterdata.gtin.$invalid && msubmitted">Invalid:
                                    <span ng-show="masterdata.gtin.$error.minlength">GTIN should be minimum of 0 characters</span>
                                    <span ng-show="masterdata.gtin.$error.maxlength">GTIN should be maximum of 50 characters</span>
                                    <span ng-show="masterdata.gtin.$error.pattern">GTIN won't allow special characters</span>
                                    </span>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Keywords</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="keywords" ng-model="editproduct.keywords" ng-minlength="0" ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9\s]+$/">
                                    <span class="error" ng-show="masterdata.keywords.$invalid && msubmitted">Invalid:
                                    <span ng-show="masterdata.keywords.$error.minlength">Keywords should be minimum of 0 characters</span>
                                    <span ng-show="masterdata.keywords.$error.maxlength">Keywords should be maximum of 50 characters</span>
                                    <span ng-show="masterdata.keywords.$error.pattern">Keywords won't allow special characters</span>
                                    </span>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Supplier</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="supplier" ng-model="editproduct.supplierId" ng-minlength="0" ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9\s]+$/">
                                    <span class="error" ng-show="masterdata.supplier.$invalid && msubmitted">Invalid:
                                    <span ng-show="masterdata.supplier.$error.minlength">Supplier should be minimum of 0 characters</span>
                                    <span ng-show="masterdata.supplier.$error.maxlength">Supplier should be maximum of 50 characters</span>
                                    <span ng-show="masterdata.supplier.$error.pattern">Supplier won't allow special characters</span>
                                    </span>
                                </div>

                            </div>

                            <!-- <div class="form-group">
                                <label class="col-sm-4 control-label">Product catalog</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="pcid" ng-model="editproduct.catalogId" ng-minlength="0" ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9\s]+$/">
                                    <span class="error" ng-show="masterdata.pcid.$invalid && msubmitted">Invalid:
                                                                <span ng-show="masterdata.pcid.$error.minlength">Product catalog should be minimum of 0 characters</span>
                                    <span ng-show="masterdata.pcid.$error.maxlength">Product catalog should be maximum of 50 characters</span>
                                    <span ng-show="masterdata.pcid.$error.pattern">Product catalog won't allow special characters</span>
                                    </span>
                                </div>

                            </div> -->

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Status</label>
                                <div class="col-sm-4">
                                    <select  class="form-control m-b" ng-model="editproduct.statusId" >
                                        <option value="" ></option>
                                        <option value="35">080 error</option>
                                        <option value="36">090 warning</option>
                                        <option value="37">100 new</option>
                                        <option value="71">105 changed</option>
                                        <option value="39">110 unchanged</option>
                                        <option value="38" selected="selected">400 confirmed</option>
                                        <option value="60">700 temporary</option>
                                        <option value="40">800 deleted</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Valid From</label>
                                <div class="col-sm-6">
                                    <input type="text" name="validfrom" class="form-control date" id="dateFrom" placeholder="From" ng-click="open($event)" class="form-control" datepicker-popup="{{format}}" ng-model="editproduct.validFrom" is-open="opened.dateFrom" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="Close">

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Valid To</label>
                                <div class="col-sm-6">
                                    <input type="text" name="validto" class="form-control date" id="dateTo" placeholder="To" ng-click="open($event)" class="form-control" datepicker-popup="{{format}}" ng-model="editproduct.validTo" is-open="opened.dateTo" min-date="editproduct.validFrom" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="Close">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-4 control-label">Manufacturer Name</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="mfname" ng-model="editproduct.manufacturerName" ng-minlength="0" ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9\s]+$/">
                                    <span class="error" ng-show="masterdata.mfname.$invalid && msubmitted">Invalid:
                                    <span ng-show="masterdata.mfname.$error.minlength">Manufacturer Name should be minimum of 0 characters</span>
                                    <span ng-show="masterdata.mfname.$error.maxlength">Manufacturer Name should be maximum of 50 characters</span>
                                    <span ng-show="masterdata.mfname.$error.pattern">Manufacturer Name won't allow special characters</span>
                                    </span>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Manufacturer </label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="mf" ng-model="editproduct.manufacturerId" ng-minlength="0" ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9_-]+$/">
                                    <span class="error" ng-show="masterdata.mf.$invalid && msubmitted">Invalid:
                                    <span ng-show="masterdata.mf.$error.minlength">Manufacturer  should be minimum of 0 characters</span>
                                    <span ng-show="masterdata.mf.$error.maxlength">Manufacturer  should be maximum of 50 characters</span>
                                    <span ng-show="masterdata.mf.$error.pattern">Manufacturer  won't allow special characters</span>
                                    </span>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">MfgProduct ID</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="mfgid" ng-model="editproduct.mfgProductId" ng-minlength="0" ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9\s]+$/">
                                    <span class="error" ng-show="masterdata.mfgid.$invalid && msubmitted">Invalid:
                                    <span ng-show="masterdata.mfgid.$error.minlength">MfgProduct ID should be minimum of 0 characters</span>
                                    <span ng-show="masterdata.mfgid.$error.maxlength">MfgProduct ID should be maximum of 50 characters</span>
                                    <span ng-show="masterdata.mfgid.$error.pattern">MfgProduct ID won't allow special characters</span>
                                    </span>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Unit of measure</label>
                                <div class="col-sm-5">
                                    <select name="account" class="form-control m-b" name="uom" ng-model="editproduct.unitOfMeasureId">
                                        <option value=""></option>
                                        <option value="2P">kilobyte</option>
                                        <option value="4L">megabyte</option>
                                        <option value="A86">gigahertz</option>
                                        <option value="A99">A99</option>
                                        <option value="AD">byte</option>
                                        <option value="AMH">ampere hour</option>
                                        <option value="AMP">ampere</option>
                                        <option value="ANN">year</option>
                                        <option value="B10">B10</option>
                                        <option value="BAR">bar</option>
                                        <option value="C26">millisecond</option>
                                        <option value="C31">milliwatt</option>
                                        <option value="C62">piece</option>
                                        <option value="CEL">degrees Celsius</option>
                                        <option value="CMK">square centimeter</option>
                                        <option value="CMQ">cubic centimeter</option>
                                        <option value="CMT">centimeter</option>
                                        <option value="DAY">day</option>
                                        <option value="DD">degrees</option>
                                        <option value="EA">each</option>
                                        <option value="GB">gigabyte</option>
                                        <option value="GM">GM</option>
                                        <option value="GRM">gramms</option>
                                        <option value="HTZ">hertz</option>
                                        <option value="HUR">hour</option>
                                        <option value="KEL">kelvin</option>
                                        <option value="KGM">kilogramm</option>
                                        <option value="KTM">kilometer</option>
                                        <option value="KVT">kilovolt</option>
                                        <option value="KWH">kilowatt hours</option>
                                        <option value="KWT">kilowatt</option>
                                        <option value="LTR">Litre</option>
                                        <option value="MAW">megawatt</option>
                                        <option value="MGM">milligramms</option>
                                        <option value="MIN">minutes</option>
                                        <option value="MLT">milliliter</option>
                                        <option value="MMT">millimeters</option>
                                        <option value="MON">month</option>
                                        <option value="MTR">meter</option>
                                        <option value="MTS">MTS</option>
                                        <option value="P1">percent</option>
                                        <option value="PCE" selected="selected">piece</option>
                                        <option value="PK">PK</option>
                                        <option value="PR">pair</option>
                                        <option value="SEC">second</option>
                                        <option value="ST">ST</option>
                                        <option value="WEE">week</option>
                                        <option value="WTT">watt</option>
                                        <option value="ZOL">Zoll</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Sales Unit</label>
                                <div class="col-sm-4">
                                    <select name="account" class="form-control m-b" name="salesunit" ng-model="editproduct.salesUnitOfMeasureId">
                                        <option value=""></option>
                                        <option value="2P">kilobyte</option>
                                        <option value="4L">megabyte</option>
                                        <option value="A86">gigahertz</option>
                                        <option value="A99">A99</option>
                                        <option value="AD">byte</option>
                                        <option value="AMH">ampere hour</option>
                                        <option value="AMP">ampere</option>
                                        <option value="ANN">year</option>
                                        <option value="B10">B10</option>
                                        <option value="BAR">bar</option>
                                        <option value="C26">millisecond</option>
                                        <option value="C31">milliwatt</option>
                                        <option value="C62">piece</option>
                                        <option value="CEL">degrees Celsius</option>
                                        <option value="CMK">square centimeter</option>
                                        <option value="CMQ">cubic centimeter</option>
                                        <option value="CMT">centimeter</option>
                                        <option value="DAY">day</option>
                                        <option value="DD">degrees</option>
                                        <option value="EA">each</option>
                                        <option value="GB">gigabyte</option>
                                        <option value="GM">GM</option>
                                        <option value="GRM">gramms</option>
                                        <option value="HTZ">hertz</option>
                                        <option value="HUR">hour</option>
                                        <option value="KEL">kelvin</option>
                                        <option value="KGM">kilogramm</option>
                                        <option value="KTM">kilometer</option>
                                        <option value="KVT">kilovolt</option>
                                        <option value="KWH">kilowatt hours</option>
                                        <option value="KWT">kilowatt</option>
                                        <option value="LTR">Litre</option>
                                        <option value="MAW">megawatt</option>
                                        <option value="MGM">milligramms</option>
                                        <option value="MIN">minutes</option>
                                        <option value="MLT">milliliter</option>
                                        <option value="MMT">millimeters</option>
                                        <option value="MON">month</option>
                                        <option value="MTR">meter</option>
                                        <option value="MTS">MTS</option>
                                        <option value="P1">percent</option>
                                        <option value="PCE" selected="selected">piece</option>
                                        <option value="PK">PK</option>
                                        <option value="PR">pair</option>
                                        <option value="SEC">second</option>
                                        <option value="ST">ST</option>
                                        <option value="WEE">week</option>
                                        <option value="WTT">watt</option>
                                        <option value="ZOL">Zoll</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row col-sm-8 col-sm-offset-2 ">
                        <div class="form-button-group">
                            <button class="btn btn-primary" type="submit" ng-click="updateMasterData(masterdata, editproduct)">Update</button>
                            <button class="btn btn-primary" ng-click="cancel()">Cancel</button>

                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-sm-12">
                        <div ng-include="'app/partials/_auditInfo.html'"></div>
                    </div>

                </div>