 <div class=" m-t-25">
        <!-- <b>Found {{filteredItems.length}} entries</b> -->
        <table class="table table-stripped custom-table ">
            <tbody>
                <tr>
                    <th class="check-box">
                        <input type="checkbox" id="selectall" ng-click="selectAllpriceCBoxes()"> 
                    </th>
                    
                    <th>
                        <a ng-click="sortType = 'variantId'; sortReverse = !sortReverse">Variant
                            <span ng-show="sortType =='variantId' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType =='variantId' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>

                    
                    <th>
                        <a ng-click="sortType = 'description'; sortReverse = !sortReverse">Description
                            <span ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'description' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'validFromQuantity'; sortReverse = !sortReverse">From Quantity
                            <span ng-show="sortType == 'validFromQuantity' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'validFromQuantity' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'netPrice'; sortReverse = !sortReverse">price
                            <span ng-show="sortType == 'netPrice' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'netPrice' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'priceUnit'; sortReverse = !sortReverse">Price Unit
                            <span ng-show="sortType == 'priceUnit' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'priceUnit' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'currencyId'; sortReverse = !sortReverse">Currency
                            <span ng-show="sortType == 'currencyId' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'currencyId' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'validFrom'; sortReverse = !sortReverse">Valid From
                            <span ng-show="sortType == 'validFrom' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'validFrom' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'validTo'; sortReverse = !sortReverse">Valid To
                            <span ng-show="sortType == 'validTo' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'validTo' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'statusId'; sortReverse = !sortReverse">Status
                            <span ng-show="sortType == 'statusId' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'statusId' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'priceTypeId'; sortReverse = !sortReverse">Type
                            <span ng-show="sortType == 'priceTypeId' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'priceTypeId' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'unitOfMeasureId'; sortReverse = !sortReverse">UoM
                            <span ng-show="sortType == 'unitOfMeasureId' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'unitOfMeasureId' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>Actions</th>
                </tr>


                <tr>
                    <td></td>
                    
                    <td>
                        <!-- <div class="col-lg-6"> -->
                            <div class="input-group">
                              <input type="text" class="form-control" ng-model="search.variantId" style="height:22px;width:75px;">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" ng-click="search.variantId=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                              </span>
                            </div><!-- /input-group -->
                        <!-- </div> --><!-- /.col-lg-6 -->
                    </td>


                    <td>
                        <!-- <div class="col-lg-6"> -->
                            <div class="input-group">
                              <input type="text" class="form-control" ng-model="search.description" style="height:22px;width:125px;">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" ng-click="search.description=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                              </span>
                            <!-- </div> --><!-- /input-group -->
                        </div>
                    </td>

                    <td>
                        <!-- <div class="col-lg-6"> -->
                            <div class="input-group">
                              <input type="text" class="form-control" ng-model="search.validFromQuantity" style="height:22px;width:102px;">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" ng-click="search.validFromQuantity=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                              </span>
                            <!-- </div> --><!-- /input-group -->
                        </div>
                    </td>

                    <td>
                        <!-- <div class="col-lg-6"> -->
                            <div class="input-group">
                              <input type="text" class="form-control" ng-model="search.netPrice" style="height:22px;width:80px;">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" ng-click="search.netPrice=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                              </span>
                           <!--  </div> --><!-- /input-group -->
                        </div>
                    </td>

                    <td>
                        <!-- <div class="col-lg-6"> -->
                            <div class="input-group">
                              <input type="text" class="form-control" ng-model="search.priceUnit" style="height:22px;width:70px;">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" ng-click="search.priceUnit=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                              </span>
                            <!-- </div> --><!-- /input-group -->
                        </div>
                    </td>

                    <td>
                        <!-- <div class="col-lg-6"> -->
                            <div class="input-group">
                                <select name="language" class="form-control m-b" ng-model="search.currencyId" style="height:22px;width:65px;padding: 0px;">
                                    <option value=""></option>
                                    <option value="CHF">CHF</option>
                                    <option value="EUR" selected="selected">EUR</option>
                                    <option value="GBP">GBP</option>
                                    <option value="JPY">JPY</option>
                                    <option value="NZD">NZD</option>
                                    <option value="USD">USD</option>
                                </select>
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" ng-click="search.currencyId=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                              </span>
                            </div><!-- /input-group -->
                        <!-- </div> -->
                    <td>
                       <!--  <div class="col-lg-6"> -->
                            <div class="input-group">
                              <input type="text" class="form-control" ng-model="search.validFrom" style="height:22px;width:102px;">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" ng-click="search.validFrom=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                              </span>
                            </div><!-- /input-group -->
                        <!-- </div> -->
                    </td>

                    <td>
                        <!-- <div class="col-lg-6"> -->
                            <div class="input-group">
                              <input type="text" class="form-control" ng-model="search.validTo" style="height:22px;width:102px;">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" ng-click="search.validTo=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                              </span>
                            </div><!-- /input-group -->
                        <!-- </div> -->
                    <td>
                        <!-- <div class="col-lg-6"> -->
                            <div class="input-group">
                                <select  class="form-control m-b" ng-model="search.statusId" style="height:22px;width:102px;padding: 0px;">
                                    <option value="" ></option>
                                    <option value="35">080 error</option>
                                    <option value="36">090 warning</option>
                                    <option value="37">100 new</option>
                                    <option value="71">105 changed</option>
                                    <option value="39">110 unchanged</option>
                                    <option value="38" selected="selected">400 confirmed</option>
                                    <option value="60">700 temporary</option>
                                    <option value="40">800 deleted</option>
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-xs" ng-click="search.statusId=''" type="button">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </span>
                            </div><!-- /input-group -->
                        <!-- </div> -->
                    </td>

                    <td>
                        <!-- <div class="col-lg-6"> -->
                            <div class="input-group">
                              <input type="text" class="form-control" ng-model="search.type" style="height:22px;width:102px;">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" ng-click="search.type=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                              </span>
                            <!-- </div> --><!-- /input-group -->
                        </div>
                    </td>

                    <td>
                       <!--  <div class="col-lg-6"> -->
                            <div class="input-group">
                                <select  class="form-control m-b" ng-model="search.unitOfMeasureId" style="height:22px;width:70px;  padding: 0px;">
                                    <option value=""></option>
                                    <option value="2P">kB</option>
                                    <option value="4L">MB</option>
                                    <option value="A86">GHz</option>
                                    <option value="A99">bit</option>
                                    <option value="AD">B</option>
                                    <option value="AMH">Ah</option>
                                    <option value="AMP">A</option>
                                    <option value="ANN">a</option>
                                    <option value="B10">bit/s</option>
                                    <option value="BAR">bar</option>
                                    <option value="C26">ms</option>
                                    <option value="C31">mW</option>
                                    <option value="C62">piece</option>
                                    <option value="CEL">°C</option>
                                    <option value="CMK">cm²</option>
                                    <option value="CMQ">m³</option>
                                    <option value="CMT">cm</option>
                                    <option value="DAY">d</option>
                                    <option value="DD">°</option>
                                    <option value="EA">each</option>
                                    <option value="GB">GB</option>
                                    <option value="GM">g/m</option>
                                    <option value="GRM">g</option>
                                    <option value="HTZ">Hz</option>
                                    <option value="HUR">h</option>
                                    <option value="KEL">K</option>
                                    <option value="KGM">kg</option>
                                    <option value="KTM">km</option>
                                    <option value="KVT">kV</option>
                                    <option value="KWH">kWh</option>
                                    <option value="KWT">kW</option>
                                    <option value="LTR">Litre</option>
                                    <option value="MAW">MW</option>
                                    <option value="MGM">mg</option>
                                    <option value="MIN">min</option>
                                    <option value="MLT">ml</option>
                                    <option value="MMT">mm</option>
                                    <option value="MON">month</option>
                                    <option value="MTR">m</option>
                                    <option value="MTS">m/s</option>
                                    <option value="P1">%</option>
                                    <option value="PCE">piece</option>
                                    <option value="PK">PK</option>
                                    <option value="PR">pair</option>
                                    <option value="SEC">s</option>
                                    <option value="ST">ST</option>
                                    <option value="WEE">week</option>
                                    <option value="WTT">watt</option>
                                    <option value="ZOL">Zoll</option>
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-xs" ng-click="search.unitOfMeasureId=''" type="button">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </span>
                            <!-- </div> --><!-- /input-group -->
                        </div>
                    </td>

                    <td></td>

                </tr>


                

                <tr ng-click="editprice(pdata)" ng-repeat="pdata in  filtered = (editproduct.prices | filter:search) | startFrom:(currentPage-1)*maxSize | limitTo:maxSize | orderBy:sortType:sortReverse   | filter:variantprice[0]:strict">
                    <td class="check-box">
                        <input type="checkbox" value="{{pdata._id}}" ng-checked="pdata.checked" ng-model="pdata.checked">
                    </td>
                    <td>{{pdata.variantId}}</td>
                    <td>{{pdata.description}}</td>
                    <td>{{pdata.validFromQuantity}}</td>
                    <td>{{pdata.netPrice}}</td>
                    <td>{{pdata.priceUnit}}</td>
                    <td>{{pdata.currencyId}}</td>
                    <td>{{pdata.validFrom}}</td>
                    <td>{{pdata.validTo}}</td>
                    <td>{{pdata.statusId}}</td>
                    <td>{{pdata.priceTypeId}}</td>
                    <td>{{pdata.unitOfMeasureId}}</td>


                    <td>
                        <button class="btn btn-primary btn-xs">Edit</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <td colspan="15">
                    <pagination total-items="editproduct.prices.length" ng-model="currentPage" class="pull-right"></pagination>
                </td>
            </tfoot>
        </table>
    </div>
    <div class="row ">
        <div class="col-sm-4 m-b-20 ">
            <button class="btn btn-primary" ng-click="newprice()">New Price</button>
            <button class="btn btn-primary" ng-click="deleteprice()">Delete Selected</button>
        </div>
    </div>

    <form name="priceform" novalidate>
        <div class="row m-t-25 " ng-show="pricevar">

            <div class="col-sm-6">

                <div class="form-group">
                    <label class="col-sm-3 control-label">Variant ID</label>
                    <div class="col-sm-3">
                                    <!-- <input type="text" class="form-control" name="" ng-model="createNew.variantId" ng-readonly="true" /> -->
                        <select class="form-control" name="" ng-model="price.variantId" ng-options="item.value as item.label for item in hasVariantPrices">
                            <option value="" style="display:none"></option>
                        </select>
                    </div>
                    <!-- <div class="col-sm-1">
                        <span class="ng-scope"> 
                                        <script type="text/ng-template" id="myModalContent6.html">
                                          <div ng-include="'app/EditProduct/variantmodal.html'"></div>
                                        </script>
                                        <button class="btn btn-primary btn-xs" ng-click="openVariant('lg','hasVariantPrices','price')">
                                                  <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div> -->
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"> Description </label>
                    <div class="col-sm-8">
                        <input type="string" name="description" class="form-control" ng-model="price.description">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"> From Quantity* </label>
                    <div class="col-sm-4">
                        <input type="number" name="quantity" class="form-control" ng-model="price.validFromQuantity" required>
                        <span class="error" ng-show="priceform.quantity.$invalid && psubmitted">Invalid:
                        <span ng-show="priceform.quantity.$error.required">From Quantity is required field.</span>              
                        <span ng-show="priceform.quantity.$error.number">Enter only digit.</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Price Type</label>
                    <div class="col-sm-6">
                        <select name="language" class="form-control m-b" ng-model="price.priceTypeId" >
                            <option value="default" >Default</option>
                            <option value="list">the list price of the product</option>
                            <option value="list">the gross price of the product</option>
                             <option value="list">the fix net price of the product</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"> Price* </label>
                    <div class="col-sm-4">
                        <input type="number" name="price" class="form-control" ng-model="price.netPrice" required>
                        <span class="error" ng-show="priceform.price.$invalid && psubmitted">Invalid:
                            <span ng-show="priceform.price.$error.required">Price is required field.</span>              
                        <span ng-show="priceform.price.$error.number">Enter only digit.</span> 
                        </span>
                    </div>
                </div>

                <!-- <div class="form-group">
                    <label class="col-sm-3 control-label"> Fix Net price* </label>
                    <div class="col-sm-4">
                        <input type="number" name="fix_price" class="form-control" ng-model="price.fixNetPrice" ng-minlength="0" ng-maxlength="50" required>
                        <span class="error" ng-show="priceform.fix_price.$invalid && psubmitted && priceform.fix_price.$dirty">Invalid:
                                        <span ng-show="priceform.fix_price.$error.required">Fix Net price is required</span>
                        <span ng-show="priceform.fix_price.$error.minlength">Fix Net price should be minimum of 0 digit</span>
                        <span ng-show="priceform.fix_price.$error.maxlength">Fix Net price should be maximum of 50 digit</span>
                        <span ng-show="priceform.fix_price.$error.number">Enter only digit </span>
                        </span>
                    </div>
                </div> -->

                <div class="form-group">
                    <label class="col-sm-3 control-label"> VAT Percentage </label>
                    <div class="col-sm-3">
                        <input type="number" name="vatper" class="form-control" ng-model="price.vatPercentage" >
                        <span class="error" ng-show="priceform.vatper.$invalid && psubmitted">Invalid:
                        <span ng-show="priceform.vatper.$error.number">Enter only digit</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"> is Preferred* </label>
                    <div class="col-sm-3">
                        <input type="checkbox" name="ispref" ng-model="price.isPreferred" required><br/>
                        <span class="error" ng-show="priceform.ispref.$invalid && psubmitted ">Invalid:
                                        
                        <span ng-show="priceform.ispref.$error.required">Is Preferred is required field</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"> Price Unit </label>
                    <div class="col-sm-3">
                        <input type="number" name="priceunit" class="form-control" ng-model="price.priceUnit" >
                        <span class="error" ng-show="priceform.priceunit.$invalid && psubmitted">Invalid:
                                       
                        <span ng-show="priceform.priceunit.$error.number">Enter only digit</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Currency*</label>
                    <div class="col-sm-3">
                        <select name="currency" class="form-control m-b" ng-model="price.currencyId" required>
                            <option value="" style="display:none;"></option>
                            <option value="CHF">CHF</option>
                            <option value="EUR">EUR</option>
                            <option value="GBP">GBP</option>
                            <option value="JPY">JPY</option>
                            <option value="NZD">NZD</option>
                            <option value="USD">USD</option>
                        </select>
                         <span class="error" ng-show="priceform.currency.$invalid && psubmitted">Invalid:
                                       
                        <span ng-show="priceform.currency.$error.required">Currency is required field.</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Valid From</label>
                    <div class="col-sm-4">
                        <input type="text" name="from" class="form-control date" id="dateFrom" ng-click="open($event)" class="form-control" datepicker-popup="{{format}}" ng-model="price.validFrom" is-open="opened.dateFrom" date-disabled="disabled(date, mode)"  close-text="Close">
                        <span class="error" ng-show="priceform.from.$invalid && psubmitted">Invalid date</span>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label">Valid To</label>
                    <div class="col-sm-4">
                        <input type="text" name="to" class="form-control date" id="dateTo" ng-click="open($event)" class="form-control" datepicker-popup="{{format}}" ng-model="price.validTo" is-open="opened.dateTo" min-date="price.validFrom" date-disabled="disabled(date, mode)"  close-text="Close">
                         <span class="error" ng-show="priceform.to.$invalid && psubmitted">Invalid date</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Status</label>
                    <div class="col-sm-4">
                        <select name="language" class="form-control m-b" ng-model="price.statusId">
                            <option value="35">080 error</option>
                            <option value="36">090 warning</option>
                            <option value="37">100 new</option>
                            <option value="71">105 changed</option>
                            <option value="39">110 unchanged</option>
                            <option value="38" selected="selected">400 confirmed</option>
                            <option value="60">700 temporary</option>
                            <option value="40">800 deleted</option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                            <label class="col-sm-3 control-label"> Prod Id Ext For Uom </label>
                            <div class="col-sm-3">
                                <input type="text" name="pridforum" class="form-control" ng-model="price.productIdExtensionForUoM">
                               
                            </div>
                        </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label">Unit of Measure</label>
                    <div class="col-sm-3">
                        <select name="language" class="form-control m-b" ng-model="price.unitOfMeasureId">
                            <option value=""></option>
                            <option value="2P">kB</option>
                            <option value="4L">MB</option>
                            <option value="A86">GHz</option>
                            <option value="A99">bit</option>
                            <option value="AD">B</option>
                            <option value="AMH">Ah</option>
                            <option value="AMP">A</option>
                            <option value="ANN">a</option>
                            <option value="B10">bit/s</option>
                            <option value="BAR">bar</option>
                            <option value="C26">ms</option>
                            <option value="C31">mW</option>
                            <option value="C62">piece</option>
                            <option value="CEL">°C</option>
                            <option value="CMK">cm²</option>
                            <option value="CMQ">m³</option>
                            <option value="CMT">cm</option>
                            <option value="DAY">d</option>
                            <option value="DD">°</option>
                            <option value="EA">each</option>
                            <option value="GB">GB</option>
                            <option value="GM">g/m</option>
                            <option value="GRM">g</option>
                            <option value="HTZ">Hz</option>
                            <option value="HUR">h</option>
                            <option value="KEL">K</option>
                            <option value="KGM">kg</option>
                            <option value="KTM">km</option>
                            <option value="KVT">kV</option>
                            <option value="KWH">kWh</option>
                            <option value="KWT">kW</option>
                            <option value="LTR">Litre</option>
                            <option value="MAW">MW</option>
                            <option value="MGM">mg</option>
                            <option value="MIN">min</option>
                            <option value="MLT">ml</option>
                            <option value="MMT">mm</option>
                            <option value="MON">month</option>
                            <option value="MTR">m</option>
                            <option value="MTS">m/s</option>
                            <option value="P1">%</option>
                            <option value="PCE">piece</option>
                            <option value="PK">PK</option>
                            <option value="PR">pair</option>
                            <option value="SEC">s</option>
                            <option value="ST">ST</option>
                            <option value="WEE">week</option>
                            <option value="WTT">watt</option>
                            <option value="ZOL">Zoll</option>
                        </select>
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div ng-include="'app/partials/_auditInfo.html'"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">

                    <div class="col-sm-offset-2  col-sm-3">
                        <button class="btn btn-primary" type="submit" ng-click="saveprice(priceform, price);">Save</button>
                        <button class="btn btn-primary" type="submit" ng-click="cancelprice();">Cancel</button>
                    </div>

                </div>
            </div>

        </div>
    </form>
                   