<div class=" m-t-25">
        <!-- <b>Found {{filteredItems.length}} entries</b> -->
        <table class="table table-stripped custom-table">
            <tbody>
                <tr>
                    <th class="check-box">
                        <input type="checkbox" id="selectall" ng-click="selectAllprelationCBoxes()"> </th>
                    <th>
                        Product ID/Description
                        
                    </th>
                    <th>
                        <a ng-click="sortType = 'variantId'; sortReverse = !sortReverse">Variant
                            <span ng-show="sortType == 'variantId' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'variantId' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'typeId'; sortReverse = !sortReverse">Relation
                            <span ng-show="sortType == 'typeId' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'typeId' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'relatedProductId'; sortReverse = !sortReverse">Product ID
                            <span ng-show="sortType == 'relatedProductId' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'relatedProductId' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'descriptions'; sortReverse = !sortReverse">Description
                            <span ng-show="sortType == 'descriptions' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'descriptions' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'statusId'; sortReverse = !sortReverse">Status
                            <span ng-show="sortType == 'statusId' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'statusId' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'syncTypeId'; sortReverse = !sortReverse">Sync Type
                            <span ng-show="sortType == 'syncTypeId' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'syncTypeId' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'seqNo'; sortReverse = !sortReverse">Seq No
                            <span ng-show="sortType == 'seqNo' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'seqNo' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'quantity'; sortReverse = !sortReverse">Quantity
                            <span ng-show="sortType == 'quantity' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'quantity' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'selectionGroupId'; sortReverse = !sortReverse">Selection Group Id
                            <span ng-show="sortType == 'selectionGroupId' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'selectionGroupId' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'isMandatory'; sortReverse = !sortReverse">Is Mandatory
                            <span ng-show="sortType == 'isMandatory' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'isMandatory' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'isDefaultSelected'; sortReverse = !sortReverse">Is Default Selected
                            <span ng-show="sortType == 'isDefaultSelected' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'isDefaultSelected' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>Actions</th>
                </tr>


                <tr>
                    <td></td>
                    <td>
                        <!-- <div class="col-lg-6"> -->
                            <div class="input-group">
                              <input type="text" class="form-control" ng-model="search.productId" style="height:22px;width:108px;">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" ng-click="search.productId=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                              </span>
                            </div><!-- /input-group -->
                        <!-- </div> --><!-- /.col-lg-6 -->
                    </td>

                    <td>
                        <!-- <div class="col-lg-6"> -->
                            <div class="input-group">
                              <input type="text" class="form-control" ng-model="search.variantId" style="height:22px;width:102px;">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" ng-click="search.variantId=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                              </span>
                            </div><!-- /input-group -->
                        <!-- </div> --><!-- /.col-lg-6 -->
                    </td>

                    <td>
                        <!-- <div class="col-lg-6"> -->
                            <div class="input-group">
                                <select name="relation" class="form-control m-b" ng-model="search.typeId" style="height:22px;width:165px;padding:0px">
                                    <option value="Beleuchtung_source">Beleuchtung (source)</option>
                                    <option value="Beleuchtung_target">Beleuchtung (target)</option>
                                    <option value="Elektro_source">Elektro (source)</option>
                                    <option value="Elektro_target">Elektro (target)</option>
                                    <option value="Fahrdienste_source">Fahrdienste (source)</option>
                                    <option value="Fahrdienste_target">Fahrdienste (target)</option>
                                    <option value="Hostessen_source">Hostessen (source)</option>
                                    <option value="Hostessen_target">Hostessen (target)</option>
                                    <option value="Peripherals_source">Peripherals (source)</option>
                                    <option value="Peripherals_target">Peripherals (target)</option>
                                    <option value="Reinigung_source">Reinigung (source)</option>
                                    <option value="Reinigung_target">Reinigung (target)</option>
                                    <option value="Services_source">Services (source)</option>
                                    <option value="Services_target">Services (target)</option>
                                    <option value="Wachdienste_source">Wachdienste (source)</option>
                                    <option value="Wachdienste_target">Wachdienste (target)</option>
                                    <option value="Warranty_source">Warranty (source)</option>
                                    <option value="Warranty_target">Warranty (target)</option>
                                    <option value="accessories_source">is accessories for</option>
                                    <option value="accessories_target">is accessories of</option>
                                    <option value="accessory_source">is accessory for</option>
                                    <option value="accessory_target">is accessory of</option>
                                    <option value="consists_of_source">has component</option>
                                    <option value="consists_of_target">is component for</option>
                                    <option value="diff_orderunit_source">has different orderunit</option>
                                    <option value="diff_orderunit_target">is different orderunit for</option>
                                    <option value="followup_source">is successor of</option>
                                    <option value="followup_target">is predecessor of</option>
                                    <option value="kit_item_source">has kit item</option>
                                    <option value="kit_item_target">is kit item of</option>
                                    <option value="mandatory_source">has mandatory article</option>
                                    <option value="mandatory_target">is mandatory article from</option>
                                    <option value="others_source">other relation</option>
                                    <option value="others_target">other relation</option>
                                    <option value="part_of_source">is part of</option>
                                    <option value="part_of_target">is part for</option>
                                    <option value="replaces_source">replaces (source)</option>
                                    <option value="replaces_target">replaces (target)</option>
                                    <option value="select_source">has select article</option>
                                    <option value="select_target">is select article from</option>
                                    <option value="service_source">has service</option>
                                    <option value="service_target">is service for</option>
                                    <option value="similar_source">similar article</option>
                                    <option value="similar_target">similar article</option>
                                    <option value="sparepart_source">has sparepart</option>
                                    <option value="sparepart_target">is sparepart for</option>
                                    <option value="substitute_source">has substitute</option>
                                    <option value="substitute_target">is substitute of</option>
                                    <option value="variant_source">is master for</option>
                                    <option value="variant_target">is variant of</option>
                                </select>
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" ng-click="search.typeId=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                              </span>
                            </div><!-- /input-group -->
                        <!-- </div> --><!-- /.col-lg-6 -->
                       
                    </td>

                    <td>
                        <!-- <div class="col-lg-6"> -->
                            <div class="input-group">
                              <input type="text" class="form-control" ng-model="search.productId" style="height:22px;width:102px;">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" ng-click="search.productId=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                              </span>
                            </div><!-- /input-group -->
<!--                         </div> --><!-- /.col-lg-6 -->
                       
                    </td>

                    <td>
                        <!-- <div class="col-lg-6"> -->
                            <div class="input-group">
                              <input type="text" class="form-control" ng-model="search.Description" style="height:22px;width:140px;">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" ng-click="search.Description=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                              </span>
                            </div><!-- /input-group -->
                       <!--  </div> --><!-- /.col-lg-6 -->
                    </td>

                    <td>
                       <!--  <div class="col-lg-6"> -->
                            <div class="input-group">
                              <input type="text" class="form-control" ng-model="search.statusId" style="height:22px;width:70px;">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" ng-click="search.statusId=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                              </span>
                            </div><!-- /input-group -->
                        <!-- </div> --><!-- /.col-lg-6 -->
                    </td>

                    <td>
                        <!-- <div class="col-lg-6"> -->
                            <div class="input-group">
                              <input type="text" class="form-control" ng-model="search.syncTypeId" style="height:22px;width:52px;">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" ng-click="search.syncTypeId=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                              </span>
                            </div><!-- /input-group -->
                        <!-- </div> --><!-- /.col-lg-6 -->
                    </td>

                    <td>
                        <!-- <div class="col-lg-6"> -->
                            <div class="input-group">
                              <input type="text" class="form-control" ng-model="search.seqNo" style="height:22px;width:42px;">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" ng-click="search.seqNo=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                              </span>
                            </div><!-- /input-group -->
                        <!-- </div> --><!-- /.col-lg-6 -->
                    </td>

                    <td>
                        <!-- <div class="col-lg-6"> -->
                            <div class="input-group">
                              <input type="text" class="form-control" ng-model="search.quantity" style="height:22px;width:102px;">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" ng-click="search.quantity=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                              </span>
                            </div><!-- /input-group -->
                        <!-- </div> --><!-- /.col-lg-6 -->
                    </td>

                    <td>
                        <!-- <div class="col-lg-6"> -->
                            <div class="input-group">
                              <input type="text" class="form-control" ng-model="search.selectionGroupId" style="height:22px;width:45px;padding: 0px;">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" ng-click="search.selectionGroupId=''" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                              </span>
                            </div><!-- /input-group -->
                        <!-- </div> --><!-- /.col-lg-6 -->
                    </td>

                    <td>
                        <!-- <div class="col-lg-6"> -->
                            <div class="input-group">
                                <select name="status" class="form-control m-b" ng-model="search.isMandatory" style="height:22px;width:50px; padding: 0px;">
                                    <option value=""></option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-xs" ng-click="search.isMandatory=''" type="button">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </span>
                            </div>
                        <!-- </div> -->
                    </td>


                    <td>
                        <!-- <div class="col-lg-6"> -->
                            <div class="input-group">
                                <select name="status" class="form-control m-b" ng-model="search.isDefaultSelected" style="height:22px;width:50px;  padding: 0px;">
                                    <option value=""></option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-xs" ng-click="search.isDefaultSelected=''" type="button">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </span>
                            </div>
                        <!-- </div> -->
                    </td>
                    <td></td>
                </tr>

                <tr ng-repeat="prdata in  filtered = (editproduct.productRelations | filter:search) | startFrom:(currentPage-1)*maxSize | limitTo:maxSize | orderBy:sortType:sortReverse   | filter:varelation[0]:strict">

                    <td class="check-box">
                        <input type="checkbox" value="{{prdata._id}}" ng-checked="prdata.checked" ng-model="prdata.checked">
                    </td>
                    <td ng-click="editprelation(prdata)" class="hoverptr">{{editproduct.productId}}</td>
                    <td ng-click="editprelation(prdata)" class="hoverptr">{{prdata.variantId}}</td>
                    <td ng-click="editprelation(prdata)" class="hoverptr">{{prdata.typeId}}</td>
                    <td ng-click="editprelation(prdata)" class="hoverptr">{{prdata.relatedProductId}}</td>
                    <td ng-click="editprelation(prdata)" class="hoverptr">{{prdata.Description}}</td>
                    <td ng-click="editprelation(prdata)" class="hoverptr">{{prdata.statusId}}</td>
                    <td ng-click="editprelation(prdata)" class="hoverptr">{{prdata.syncTypeId}}</td>
                    <td ng-click="editprelation(prdata)" class="hoverptr">{{prdata.seqNo}}</td>
                    <td ng-click="editprelation(prdata)" class="hoverptr">{{prdata.quantity}}</td>
                    <td ng-click="editprelation(prdata)" class="hoverptr">{{prdata.selectionGroupId}}</td>
                    <td ng-click="editprelation(prdata)" class="hoverptr">{{prdata.isMandatory}}</td>
                    <td ng-click="editprelation(prdata)" class="hoverptr">{{prdata.isDefaultSelected}}</td>
                    <td ng-click="editprelation(prdata)"><button class="btn btn-primary btn-xs">Edit</td>
                </tr>
            </tbody>
            <tfoot>
                <td colspan="14">
                    <pagination total-items="editproduct.productRelations.length" ng-model="currentPage" class="pull-right"></pagination>
                </td>
            </tfoot>
        </table>
    </div>

    <div class="row ">
        <div class="col-sm-4 m-b-20 ">
            <button class="btn btn-primary" ng-click="newprelation()">New Product Relation</button>
            <button class="btn btn-primary" ng-click="deleteprelation()">Delete Selected</button>
        </div>
    </div>

    <form name="relationform" novalidate>
        <div class="row m-t-25 " ng-show="nproductvar">
            <div class="col-sm-6">

                <div class="form-group">
                    <label class="col-sm-4 control-label">Variant ID</label>
                    <!-- <div class="col-sm-3">
                        <input type="text" class="form-control" name="" ng-model="prelation.variantId" ng-readonly="true" />
                    </div> -->
                    <div class="col-sm-4">
                    
                        <select class="form-control" name="" ng-model="prelation.variantId" ng-options="item.value as item.label for item in hasVariantProductRelation">
                            <option value="" style="display:none"></option>
                        </select>
                    </div>
                    <!-- <div class="col-sm-1">
                        <span class="ng-scope"> 
                                        <script type="text/ng-template" id="myModalContent6.html">
                                          <div ng-include="'app/EditProduct/variantmodal.html'"></div>
                                        </script>
                                        <button class="btn btn-primary btn-xs" ng-click="openVariant('lg','hasVariantProductRelation','prelation')">
                                        <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div> -->
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label"> Product </label>
                    <div class="col-sm-4">
                        <input type="string" name="contract" class="form-control" ng-model="editproduct.productId" ng-disabled="true">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label"> Related Product </label>
                    <div class="col-sm-4">
                        <input type="text" name="relatedproduct" class="form-control" ng-model="prelation.relatedProductId" >
                        
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-primary btn-xs " ng-click="searchProduct('lg')">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                                            
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Relation</label>
                    <div class="col-sm-5">
                        <select name="relation" class="form-control m-b" ng-model="prelation.typeId" size=6>
                            <option value="Beleuchtung_source">Beleuchtung (source)</option>
                            <option value="Beleuchtung_target">Beleuchtung (target)</option>
                            <option value="Elektro_source">Elektro (source)</option>
                            <option value="Elektro_target">Elektro (target)</option>
                            <option value="Fahrdienste_source">Fahrdienste (source)</option>
                            <option value="Fahrdienste_target">Fahrdienste (target)</option>
                            <option value="Hostessen_source">Hostessen (source)</option>
                            <option value="Hostessen_target">Hostessen (target)</option>
                            <option value="Peripherals_source">Peripherals (source)</option>
                            <option value="Peripherals_target">Peripherals (target)</option>
                            <option value="Reinigung_source">Reinigung (source)</option>
                            <option value="Reinigung_target">Reinigung (target)</option>
                            <option value="Services_source">Services (source)</option>
                            <option value="Services_target">Services (target)</option>
                            <option value="Wachdienste_source">Wachdienste (source)</option>
                            <option value="Wachdienste_target">Wachdienste (target)</option>
                            <option value="Warranty_source">Warranty (source)</option>
                            <option value="Warranty_target">Warranty (target)</option>
                            <option value="accessories_source">is accessories for</option>
                            <option value="accessories_target">is accessories of</option>
                            <option value="accessory_source">is accessory for</option>
                            <option value="accessory_target">is accessory of</option>
                            <option value="consists_of_source">has component</option>
                            <option value="consists_of_target">is component for</option>
                            <option value="diff_orderunit_source">has different orderunit</option>
                            <option value="diff_orderunit_target">is different orderunit for</option>
                            <option value="followup_source">is successor of</option>
                            <option value="followup_target">is predecessor of</option>
                            <option value="kit_item_source">has kit item</option>
                            <option value="kit_item_target">is kit item of</option>
                            <option value="mandatory_source">has mandatory article</option>
                            <option value="mandatory_target">is mandatory article from</option>
                            <option value="others_source">other relation</option>
                            <option value="others_target">other relation</option>
                            <option value="part_of_source">is part of</option>
                            <option value="part_of_target">is part for</option>
                            <option value="replaces_source">replaces (source)</option>
                            <option value="replaces_target">replaces (target)</option>
                            <option value="select_source">has select article</option>
                            <option value="select_target">is select article from</option>
                            <option value="service_source">has service</option>
                            <option value="service_target">is service for</option>
                            <option value="similar_source">similar article</option>
                            <option value="similar_target">similar article</option>
                            <option value="sparepart_source">has sparepart</option>
                            <option value="sparepart_target">is sparepart for</option>
                            <option value="substitute_source">has substitute</option>
                            <option value="substitute_target">is substitute of</option>
                            <option value="variant_source">is master for</option>
                            <option value="variant_target">is variant of</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label"> Description </label>
                    </div>

                    <div class="col-sm-7">
                        <span class="col-sm-1 pull-right " ng-if="prelation.descriptions.length<=3">
                                        <button class="btn btn-primary " ng-click="addlang()"><i class="fa fa-plus"></i></button>
                                    </span>

                        <span class="row col-sm-11" ng-repeat="langdes in prelation.descriptions">
                                        <div class=" row col-sm-5 m-b-10">
                                            <select name="status" class="form-control m-b" ng-model="langdes.language" ng-change="changeoption($index,langdes.language,'{{langdes.language}}')">
                                                <option ng-if="langdes.language=='de'|| selectedlang.indexOf('de')==-1" value="de">de</option>
                                                <option ng-if="langdes.language=='en'|| selectedlang.indexOf('en')==-1" value="en">en</option>
                                                <option ng-if="langdes.language=='es'|| selectedlang.indexOf('es')==-1"value="es">es</option>
                                                <option ng-if="langdes.language=='fr'|| selectedlang.indexOf('fr')==-1" value="fr">fr</option>
                                            </select>
                                        </div>

                                        <div class="col-sm-7 m-b-10">
                                           <input type="text" name="desc" class="form-control" ng-model="langdes.description" ng-minlength="0" ng-maxlength="200" ng-pattern="/^[a-zA-Z0-9_-\s]+$/">

                                            <span class="error" ng-show="relationform.desc.$invalid && rsubmitted">Invalid:
                                            <span ng-show="relationform.desc.$error.minlength">Description should be minimum of 0 characters</span>
                                            <span ng-show="relationform.desc.$error.maxlength">Description should be maximum of 200 characters</span>
                                            <span ng-show="relationform.desc.$error.pattern">Description won't allow special characters other than hyphen and underscore.</span>
                                            </span>

                                        </div>

                                        <span ng-hide="$first && prelation.descriptions.length==1" class="col-sm-1 ">
                                            <button class="btn btn-primary " ng-click="delLang($index)"><i class="fa fa-times"></i></button>
                                        </span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label"> Status </label>
                    <div class="col-sm-3">
                        <select name="status" class="form-control m-b" ng-model="prelation.statusId">
                            <option value="29">100 new</option>
                            <option value="69">105 changed</option>
                            <option value="30">400 confirmed</option>
                            <option value="61">700 temporary</option>
                            <option value="31">800 deleted</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label"> Sync Type ID </label>
                    <div class="col-sm-3">
                        <input type="text" name="syncid" class="form-control" ng-model="prelation.syncTypeId" >
                        
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label"> Seq No </label>
                    <div class="col-sm-2">
                        <input type="text" name="seqno" class="form-control" ng-model="prelation.seqNo" >
                        
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label"> Quantity </label>
                    <div class="col-sm-2">
                        <input type="number" name="quantity" class="form-control" ng-model="prelation.quantity" >
                        <span class="error" ng-show="relationform.quantity.$invalid && rsubmitted">Invalid:
                                        
                        <span ng-show="relationform.quantity.$error.number">Enter only digit</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label"> Selection Group Id </label>
                    <div class="col-sm-3">
                        <input type="text" name="slgroupid" class="form-control" ng-model="prelation.selectionGroupId" >
                        
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label"> is Mandatory </label>
                    <div class="col-sm-7">
                        <input type="checkbox" name="price" ng-model="prelation.isMandatory">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label"> Is Default Selected </label>
                    <div class="col-sm-7">
                        <input type="checkbox" name="price" ng-model="prelation.isDefaultSelected">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Valid From</label>
                    <div class="col-sm-3">
                        <input type="text" name="from" class="form-control date" id="dateFrom" ng-click="open($event)" class="form-control" datepicker-popup="{{format}}" ng-model="prelation.validFrom" is-open="opened.dateFrom" date-disabled="disabled(date, mode)"  close-text="Close">
                        <span class="error" ng-show="relationform.from.$invalid && rsubmitted">Enter valid date.</span>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-4 control-label">Valid To</label>
                    <div class="col-sm-3">
                        <input type="text" name="to" class="form-control date" id="dateTo" ng-click="open($event)" class="form-control" datepicker-popup="{{format}}" ng-model="prelation.validTo" is-open="opened.dateTo" min-date="prelation.validFrom" date-disabled="disabled(date, mode)"  close-text="Close">
                        <span class="error" ng-show="relationform.to.$invalid && rsubmitted">Enter valid date.</span>
                    </div>
                </div>



                <accordion close-others="oneAtATime">

                    <accordion-group is-open="status.open">
                        <accordion-heading>
                            Udx Info<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </accordion-heading>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"> UdxText 1 </label>
                            <div class="col-sm-5">
                                <input type="text" name="udxtext1" class="form-control" ng-model="prelation.udxText1" >
                                
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label"> UdxText 2 </label>
                            <div class="col-sm-5">
                                <input type="text" name="udxtext2" class="form-control" ng-model="prelation.udxText2">
                                
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label"> UdxText 3 </label>
                            <div class="col-sm-5">
                                <input type="text" name="udxtext3" class="form-control" ng-model="prelation.udxText3" >
                                
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label"> UdxNum 1 </label>
                            <div class="col-sm-5">
                                <input type="number" name="udxnum1" class="form-control" ng-model="prelation.udxNum1" >
                                <span class="error" ng-show="relationform.udxnum1.$invalid && rsubmitted">Invalid:
                            
                                <span ng-show="relationform.udxnum1.$error.number">Enter only digit</span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label"> UdxNum 2 </label>
                            <div class="col-sm-5">
                                <input type="number" name="udxnum2" class="form-control" ng-model="prelation.udxNum2" >
                                <span class="error" ng-show="relationform.udxnum2.$invalid && rsubmitted">Invalid:
                                                
                                <span ng-show="relationform.udxnum2.$error.number">Enter only digit</span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label"> UdxNum 3 </label>
                            <div class="col-sm-5">
                                <input type="number" name="udexnum3" class="form-control" ng-model="prelation.udxNum3" >
                                <span class="error" ng-show="relationform.udexnum3.$invalid && rsubmitted">Invalid:
                                                
                                <span ng-show="relationform.udexnum3.$error.number">Enter only digit</span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label"> UdxSortKey 1 </label>
                            <div class="col-sm-3">
                                <input type="text" name="udx1" class="form-control" ng-model="prelation.udxSortKey1">
                                
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label"> UdxSortKey 2 </label>
                            <div class="col-sm-3">
                                <input type="text" name="udx2" class="form-control" ng-model="prelation.udxSortKey2" >
                                
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label"> UdxSortKey 3 </label>
                            <div class="col-sm-3">
                                <input type="text" name="udx3" class="form-control" ng-model="prelation.udxSortKey3" >
                                
                            </div>
                        </div>
                    </accordion-group>

                </accordion>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div ng-include="'app/partials/_auditInfo.html'"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">

                    <div class="col-sm-offset-2  col-sm-3">
                        <button class="btn btn-primary" type="submit" ng-click="saverelation(relationform,prelation);">Save</button>
                        <button class="btn btn-primary" type="submit" ng-click="cancelrelation();">Cancel</button>
                    </div>

                </div>
            </div>

        </div>
    </form>