<div class="row" ng-controller="ProductSearchCtrl" >
	<!-- Header Name-->
<!-- <span ng-show="tempvar">
 -->	<div class="row col-sm-12">
		<div class="col-sm-7">
			<h1>Product Editor</h1>
			<h3 class="m-b-50">Search Product Section</h3>
		</div>
	</div>

	<!-- New Field -->
	<div class="row col-sm-12 form-group ">
		<div class="col-sm-2">
			<label class="control-label">Product ID</label>
		</div>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="attributeSectionId" ng-model="searchData.productId">
		</div>
		<!-- <div class="col-sm-2 col-sm-offset-2">
			<label class="control-label">Class Group ID</label>
		</div>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="name" ng-model="searchData.classificationGroupId">
		</div> -->
	</div>


	<!-- Submit and reset button-->
	<div class="row col-sm-12">
		<div class="col-sm-2 col-sm-offset-10 form-group m-b-20">
			<button class="btn btn-primary" ng-click="searchProduct(searchData)">Search</button>
			<button class="btn btn-primary pull-right" ng-click="reset_search()">Reset</button>
		</div>
	</div>

	<div class="row col-sm-12">
		<!-- <b>Found {{filteredItems.length}} entries</b> -->
		<table class="table table-stripped custom-table">
			<tbody>
				<tr>
					<th>Select</th>

				    <th>
 						<a  ng-click="sortType = 'productId'; sortReverse = !sortReverse">Product-ID
							<span ng-show="sortType == 'productId' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortType == 'productId' && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</th>

					<th>
						<a  ng-click="sortType = 'supplierId'; sortReverse = !sortReverse">Supplier
							<span ng-show="sortType == 'supplierId' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortType == 'supplierId' && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</th>
					<th>
						<a  ng-click="sortType = 'mfgProductName'; sortReverse = !sortReverse">Name
							<span ng-show="sortType == 'mfgProductName' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortType == 'mfgProductName' && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</th>
					<th>
						<a  ng-click="sortType = 'unitOfMeasureId'; sortReverse = !sortReverse">UoM
							<span ng-show="sortType == 'unitOfMeasureId' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortType == 'unitOfMeasureId' && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</th>
					<th>
						<a  ng-click="sortType = 'mfgProductId'; sortReverse = !sortReverse">Man.Product ID
							<span ng-show="sortType == 'mfgProductId' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortType == 'mfgProductId' && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</th>
					<th>Status</th>
				</tr>

				<tr  ng-repeat="tdata in tabledata | orderBy:sortType:sortReverse  | filter:strict" >
				    <td>
                        <input type="checkbox" value="{{tdata._id}}" ng-checked="tdata.checked" ng-model="tdata.checked">
                    </td>
				    <td ng-click="showeditor(tdata._id)" class="hoverptr">{{tdata.productId}}</td>
					<td ng-click="showeditor(tdata._id)" class="hoverptr">{{tdata.supplierId}}</td>
					<td ng-click="showeditor(tdata._id)" class="hoverptr">{{tdata.mfgProductName}}</td>
					<td ng-click="showeditor(tdata._id)" class="hoverptr">{{tdata.unitOfMeasureId}}</td>
					<td ng-click="showeditor(tdata._id)" class="hoverptr">{{tdata.mfgProductId}}</td>
					<td >Status</td>
				</tr>
			</tbody>
			<tfoot>
				<td colspan="7">
					<pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()" class="pull-right"></pagination>
				</td>
			</tfoot>
		</table>
	</div>
	<div >
		<button class="btn btn-primary" ng-click="exportProduct(tabledata)">Export Data</button>
	</div>



	</div>
<!-- </span>
 -->	
	

	<!-- <div class="row col-sm-12 form-group ">
		<div class="col-sm-2">
			<label class="control-label">Product ID</label>
		</div>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="attributeSectionId" ng-model="searchData.productId">
		</div>
		<div class="col-sm-2 col-sm-offset-2">
			<label class="control-label">Class Group ID</label>
		</div>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="name" ng-model="searchData.classificationGroupId">
		</div>
	</div> -->



</div>
	 
	 
		<!-- // <script type="text/ng-template" id="myModalContent.html"> -->
			<!-- // <div class="modal-body"> -->
				<!-- // <p>Are you sure you want to delete ?</p> -->
			<!-- // </div> -->
			<!-- // <div class="modal-footer"> -->
				<!-- // <button class="btn btn-default" ng-click="ok()">OK</button> -->
				<!-- // <button class="btn btn-default" ng-click="cancel()">Cancel</button> -->
			<!-- // </div> -->
		<!-- // </script> -->
		<!-- // <script type="text/ng-template" id="alert.html"> -->
			<!-- // <div class="modal-body"> -->
				<!-- // <p>Please fill some entry for search ?</p> -->
			<!-- // </div> -->
			<!-- // <div class="modal-footer"> -->
				<!-- // <button class="btn btn-default" ng-click="cancel()">Ok</button> -->
			<!-- // </div> -->
		<!-- // </script>  		 -->